[project]
name = "test-mcp-client"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.2",
    "langchain-huggingface>=1.1.0",
    "langchain-mcp-adapters>=0.1.14",
]
